body
  text-align: center
#btn
  margin-top: 5vh
  background: salmon
  border: 5px solid #242424
  border-radius: 10px
  width: 10vw
  height: 5vh
#btn:hover
  background: red
.angular-google-map-container
  height: 60vw
  width: 60vw
  margin-left: auto
  margin-right: auto
  margin-top: 5vh
  // float: right
  border: 5px solid #242424
  border-radius: 10px
.pokemonList
  width: 10vw
  height: 60vw
  border: 5px solid #242424
  border-radius: 10px
  display: flex
  flex-direction: column
  justify-content: space-around
  margin-left: 5vw
  margin-top: 15vh
  float: left
#pokebox
  background: #efefef
  width: 10vw
  display: flex
  justify-content: center
#pokeImage
  width: 10vw
  height: 10vw
